{% extends 'base.html' %}
{% block header %} Rental History {% endblock %}
{% block content %}
    <div class="xml-actions-container">
    <form method="post" enctype="multipart/form-data" id="downloadXmlForm">
        {% csrf_token %}
        <button type="button" onclick="generateAndDownloadXml()" class="xml-generate-btn">Generate History File</button>
    </form>
    <a href="{% url 'upload_rental_history_xml' %}" class="xml-upload-link">Upload Rental History</a>
</div>
  <div class="rental-history-container">
    {% for user_rental in user_rentals %}
      <div class="game-details-card">
        <div class="column game-details">
          <div class="game-details-left-content">
            <h5 id="game-title">{{ user_rental.game.title }}</h5>
            <img src="{{ user_rental.game.cover.url }}" alt="{{ user_rental.game.title }}">
          </div>
        </div>
        <div class="column rental-info">
          <ul>
            <li>Rental Date: <strong>{{ user_rental.rental_date }}</strong></li>
            <li>Return Date: <strong>{{ user_rental.return_date }}</strong></li>
            <li>Renting Status: <strong>{{ user_rental.status }}</strong></li>
            <li>Rental Type: <strong>{{ user_rental.get_digital_code_only }}</strong></li>
          </ul>
        </div>
        <div class="column address-info">
          <h3>Address</h3>
          <ul>
            <li>State: <strong>{{ user_rental.address.state }}</strong></li>
            <li>City: <strong>{{ user_rental.address.city }}</strong></li>
            <li>Street: <strong>{{ user_rental.address.street }}</strong></li>
            <li>ZIP Code: <strong>{{ user_rental.address.zip_code }}</strong></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>

    <script>
        document.getElementById('downloadXmlForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the form submission
            generateAndDownloadXml();
        });

        function generateAndDownloadXml() {
            console.log("Button clicked!");
            var formData = new FormData(document.getElementById('downloadXmlForm'));

            fetch("{% url 'generate_rental_history_xml' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),  // Add this line
                },
            })
            .then(response => response.blob())
            .then(blob => {
                // Create a link element and trigger the download
                var link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = 'rental_history.xml';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Extract the CSRF token
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
