{% extends 'base.html' %}

{% block title %}
	<h2>Game details</h2>
{% endblock %}

{% block header %}
    {{ game.title }}
{% endblock %}

{% block content %}
<div class="game-details-card">
    <div class="game-details-left-content">
        <h5 id="game-title">{{ game.title }}</h5>
        <img src="{{ game.cover.url }}" alt="{{ game.title }}">
    </div>
    <ul>
        <li> Platform: <strong>{{ game.platform }}</strong></li>
        <li> Game_type: <strong>{{ game.game_type }}</strong></li>
        <li> Carrier: <strong>{{ game.carrier }}</strong></li>
    </ul>
    <div class="game-details-card-third-col">
        <h6>HELLOOOO</h6>
    </div>
</div>
<h3>{{ game.description }}</h3>
{% endblock %}